<nav class="sidebar-nav">
  <a routerLink="/app/dashboard" routerLinkActive="active" class="nav-item">
    <i class="icon">🌡️</i>
    <span>Temperatura</span>
  </a>

  <a routerLink="/app/real-time" routerLinkActive="active" class="nav-item">
    <i class="icon">📷</i>
    <span>Ver plantas en tiempo real</span>
  </a>

  <a routerLink="/app/temporal-registro" routerLinkActive="active" class="nav-item">
    <i class="icon">📅</i>
    <span>Ver registro temporal</span>
  </a>

  <a routerLink="/app/plagas" routerLinkActive="active" class="nav-item">
    <i class="icon">🐞</i>
    <span>Identificación de plagas</span>
  </a>

  <a routerLink="/app/alertas" routerLinkActive="active" class="nav-item">
    <i class="icon">🔔</i>
    <span>Alertas y notificaciones</span>
  </a>

  <a routerLink="/app/red-agricultores" routerLinkActive="active" class="nav-item">
    <i class="icon">🧑‍🤝‍🧑</i>
    <span>Red de agricultores</span>
  </a>

  <a routerLink="/app/guias" routerLinkActive="active" class="nav-item">
    <i class="icon">📖</i>
    <span>Guías prácticas y recomendaciones</span>
  </a>

  <a routerLink="/app/profile" routerLinkActive="active" class="nav-item">
    <i class="icon">👤</i>
    <span>Perfil</span>
  </a>
</nav>
